<div class="jumbotron">
	<h1> Witamy w Księgarni</h1>
	<p> Najlepsza kasięgarnia biznesowa </p>
<%= link_to "Książki", "#", class: "btn btn-primary btn-lg" %>
<%= link_to "Zarejestruj się", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	
</div>
